	<%- @page_title = 'Export data to eBird' -%>

	<h1 id="top">Export data to eBird</h1>

	<p style="text-align: center;"><a href="#overview">Overview</a> | <a href="#geographic">Geographic Scope</a> | <a href="#requirements">Requirements</a> | <a href="#process">Process</a> | <a href="#privacy">Privacy</a></p>

	<h2 id="overview">Overview</h2>

	<p><a href="http://ebird.org/">eBird</a> is a scientific database that collects bird observations from all over the world. The data are available to scientists and conservationists, becoming part of the global conversation on birds, their habitats, their distribution, and their future. Birdstack users have the opportunity to easily contribute relevant and qualifying data to eBird.</p>

	<p>When you are viewing any of your lists, click on "Export" and then click the eBird link on the export page.</p>

	<p><a href="#top">[top]</a></p>

	<h2 id="geographic">Geographic Scope</h2>

	<p>eBird now accepts bird observations from every country in the world.</p>
	
	<p><a href="#top">[top]</a></p>

	<h2 id="requirements">Requirements</h2>

	<p>Because eBird is a scientific database, there are certain requirements for the records submitted. Your Birdstack records must meet the following requirements to be exported:</p>

	<ol>
		<li>Records must have complete dates.</li>
		<li>Records must have latitude/longitude coordinates of sufficient precision:
			<ol>
				<li>Geocoded from the name of a city, town, or village.</li>
				<li>Typed in manually by the user.</li>
				<li>Derived from a click on the map (with a zoom level of at least 10).</li>
			</ol>
		</li>
		<li>Records must not have been exported to eBird already.</li>
	</ol>
	
	<p>Remember, the more detail you can provide (number of individuals observed, effort and area covered, etc.), the more useful your data will be to the scientists who use eBird.</p>

	<p><a href="#top">[top]</a></p>

	<h2 id="process">Process</h2>

	<p>From any of your lists, click on the "Export" link and then follow the instructions for eBird export. If none of the records in your list qualify for eBird, you will not be able to export any records. If some or all of the records do qualify, then download the CSV file.</p>
	
	<p>Next, log in to eBird (or create an account if you don't have one already), and click on "Submit Observations." Then follow the instructions for uploading your file.  When asked for the format of the file, select "eBird Record Format (Extended)."</p>
	
	<p>Your previously generated CSV files remain accessible through the eBird link on your "My Observations" page.</p>

	<p><a href="#top">[top]</a></p>

	<h2 id="privacy">Privacy</h2>

	<p>Private observations and private locations <strong>are</strong> included in your eBird export files.</p>

	<p><a href="#top">[top]</a></p>

