<% if license == 'cc-by' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by/3.0">cc by</a>
<% elsif license == 'cc-by-sa' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by-sa/3.0">cc by-sa</a>
<% elsif license == 'cc-by-nd' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by-nd/3.0">cc by-nd</a>
<% elsif license == 'cc-by-nc' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by-nc/3.0">cc by-nc</a>
<% elsif license == 'cc-by-nc-sa' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by-nc-sa/3.0">cc by-nc-sa</a>
<% elsif license == 'cc-by-nc-nd' %>
  Some Rights Reserved: <a href="http://creativecommons.org/licenses/by-nc-nd/3.0">cc by-nc-nd</a>
<% else %>
  &copy; All Rights Reserved
<% end %>
