	<%- @page_title = 'Photo uploads screencast' -%>

	<h1 id="top">Photo uploads screencast</h1>

	<p>To learn more about Birdstack's photo upload capabilities, watch the short video below and visit the <%= link_to 'photos help page', :controller => 'help', :action => 'photos' %>.</p>

	<object type="application/x-shockwave-flash" data="../screencasts/photos.swf" width="600" height="620">
		<param name="movie" value="../screencasts/photos.swf" />
		<p>You must have the latest Flash player installed to view this screencast.</p>
	</object>


