	<%- @page_title = 'Taxonomic updates screencast' -%>

	<h1 id="top">Taxonomic updates screencast</h1>

	<object type="application/x-shockwave-flash" data="../screencasts/taxonomic-updates.swf" width="600" height="620">
		<param name="movie" value="../screencasts/taxonomic-updates.swf" />
		<p>You must have the latest Flash player installed to view this screencast.</p>
	</object>


