	<%- @page_title = '404 Not Found' -%>

	<h1>404 Not Found</h1>

	<p>Sorry, the page you tried to access does not exist or could not be found. <%= link_to('Home', main_url(:action => 'index')) %></p>
	
	<p style="text-align: center;"><%= image_tag("ibwo.jpg", :size => "300x447", :alt => "not found") %></p>
